data/*
.python-version
checkpoints/*
logs/*
*.pyc
wandb/*
visualizations/*
*.pt
dev_roi/*
yolo_models/*
*.ipynb
*.npy
*.png
detr_output/*
.vscode/*
*.out
*.csv
src/scraps/*
lightning_logs/*
*.log
ignored/*